@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@400;800&display=swap");

:root {
  --gris: #2d2b2b;
  --amarillo: #eab224;
  --gris__suave: #76736b;
  --fuentePrincipal: "Inter", sans-serif;
  --fuenteSecundaria: "Alkatra", cursive;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  line-height: 1.4;
}
h1,
h2,
h3,
h4 {
  font-weight: 900;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  margin: 0.5rem auto;
}
h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

/* UTLIDADES */
.text__center {
  text-align: center;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
body {
  background: linear-gradient(
    to bottom,
    var(--gris__suave) 30%,
    var(--gris) 30%
  );
  height: 100vh;
  width: auto;
}
@media (min-width: 815px) {
  body {
    background: linear-gradient(
      to right,
      var(--gris__suave) 25%,
      var(--gris) 25%
    );
  }
}

/* .body__container {
  background: linear-gradient(
    to bottom,
    var(--gris__suave) 30%,
    var(--gris) 30%
  );
  height: 100vh;
  width: 100%;
  margin: 0;
} */

/* @media (min-width: 815px) {
  .body__container {
    background: linear-gradient(
      to right,
      var(--gris__suave) 25%,
      var(--gris) 25%
    );
  }
} */

/* BARRA DE NAVEGACION */
.nav {
  width: 20rem;
  height: 100vh;
  background-color: var(--amarillo);
  padding-right: 3rem;
  padding-top: 10rem;
  position: absolute;
  z-index: 100;
  opacity: 0%;
}
.link {
  display: block;
  color: black;
  margin-bottom: 2rem;
  text-align: right;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.btn__download {
  color: white;
}

.link:hover {
  cursor: pointer;
  color: white;
}
.btn__download:hover {
  color: black;
}
@media (min-width: 815px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 75%;
    max-width: 120rem;
    border-radius: 20rem;
    top: 8rem;
    right: 6rem;
    padding: 0 4rem;
    opacity: 100%;
  }
  .botones,
  .home {
    display: flex;
  }
  .link {
    margin: 0 2rem;
  }
}

@media (min-width: 815px) {
  .menu {
    display: none;
  }
}
.btn__menu {
  position: fixed;
  right: 3rem;
  top: 4rem;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 200;
}

.activado {
  right: 0;
  transition: all 0.5s ease-out;
  opacity: 100%;
}

/* FIN BARRA DE NAVEGACION */

/* IMAGEN */

.imagen {
  background-image: url(./assets/foto/IMG_1234\ \(2\).WEBP);
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 15rem;
  margin: auto;
}
@media (min-width: 815px) {
  .imagen {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    right: 50vw;
    top: 18rem;
  }
}

/* FIN IMAGEN */

/* INFO PERSONAL */
.info__personal__contenedor {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  top: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 815px) {
  .info__personal__contenedor {
    background-color: var(--gris);
    width: 25vw;
    left: 12.5vw;
    top: 50rem;
    padding: 2rem;
  }
}

.mi_nombre {
  font-size: 3rem;
  color: var(--amarillo);
  font-weight: 900;
}
.front {
  font-weight: 900;
  font-size: 2rem;
}
.make {
  color: var(--amarillo);
}
.make__happen {
  margin-bottom: 1.6rem;
}

.do__for__you__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 815px) {
  .do__for__you__container {
    position: absolute;
    font-size: 2.3rem;
    width: 50vw;
    bottom: 30rem;
    left: 25vw;
    
  }
}
#doForU {
  color: var(--amarillo);
  font-weight: 900;
}



/* BOTONES */
.botones2 {
  width: 100vw;
  position: absolute;
  top: 80vh;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 815px) {
  .botones2 {
    width: 40vw;
    left: 42vw;
    top:70vh;
  }
}

.contact {
  background-color: var(--amarillo);
  color: white;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  width: 14rem;
  margin-right: 1rem;
  font-weight: 900;
  transition: all 0.3s ease-in-out
}
.more__info {
  background-color: white;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  width: 14rem;
  margin-left: 1rem;
  font-weight: 900;
  transition: all 0.3s ease-in-out
}

.contact:hover{
  color: black;
  cursor: pointer;
  background-color: white;
}
.more__info:hover{
  background-color: var(--amarillo);
  color: white;
  cursor: pointer;
}
