@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@400;800&display=swap");

:root {
  --gris: #2d2b2b;
  --amarillo: #eab224;
  --gris__suave: #76736b;
  --fuentePrincipal: "Inter", sans-serif;
  --fuenteSecundaria: "Alkatra", cursive;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  line-height: 1.8;
}
h1,
h2,
h3,
h4 {
  font-weight: 900;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  margin: 0.5rem auto;
}
h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

/* UTLIDADES */
.text__center {
  text-align: center;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.body__container {
  background: linear-gradient(
    to bottom,
    var(--gris__suave) 40%,
    var(--gris) 40%
  );
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media (min-width: 769px) {
  .body__container {
    background: linear-gradient(
      to right,
      var(--gris__suave) 25%,
      var(--gris) 25%
    );
  }
}
.nav {
  width: 50%;
  height: 100vh;
  background-color: var(--amarillo);
  padding-right: 3rem;
  padding-top: 10rem;
  position: absolute;
  right: -100%;
}
.link {
  display: block;
  color: black;
  margin-bottom: 2rem;
  text-align: right;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  cursor: pointer;
  color: white;
}
@media (min-width: 769px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 75%;
    border-radius: 20rem;
    top: 5rem;
    right: 5rem;
    padding: 0 4rem;
  }
  .botones,
  .home {
    display: flex;
  }
  .link {
    margin: 0 2rem;
  }
}
.menu {
  position: fixed;
  right: 3rem;
  top: 4rem;
  z-index: 1;
}
@media (min-width: 769px) {
  .menu {
    display: none;
  }
}
.btn__menu {
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 1000;
}

.activado {
  right: 0;
  transition: all 0.7s ease-out;
}

/* .nav {
  

  
  

  
/* 
.btn__download {
  border: 1px solid black;
  border-radius: 20rem;
  padding: 0.7rem 2rem;
  position: relative;
  top: 0rem;
  right: 0rem;
  height: 8vh;
  box-shadow: 0px 0px 2.5px 2.5px var(--gris__suave);
} */
/* .botones {
  height: 8vh;
  display: flex;
  align-items: center;
  gap: 4rem;
} */

/* .imagen {
  background-image: url(./assets/pexels-photo-3211476.webp);
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  position: absolute;
  left: 18rem;
  top: 16rem;
} */
/* .mi_nombre__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 10rem;
  background-color: var(--gris);
  position: absolute;
  bottom: 5rem;
  left: 17rem;
} */
/* .mi_nombre {
  font-size: 3rem;
  color: var(--amarillo);
  font-weight: 900;
} */
/* .make_happen {
  color: white;
} */
