@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@400;800&display=swap");

:root {
  --gris: #2d2b2b;
  --amarillo: #eab224;
  --gris__suave: #76736b;
  --fuentePrincipal: "Inter", sans-serif;
  --fuenteSecundaria: "Alkatra", cursive;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  line-height: 1.4;
}
h1,
h2,
h3,
h4 {
  font-weight: 900;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  margin: 0.5rem auto;
}
h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

/* UTLIDADES */
.text__center {
  text-align: center;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.body__container {
  background: linear-gradient(
    to bottom,
    var(--gris__suave) 40%,
    var(--gris) 40%
  );
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media (min-width: 769px) {
  .body__container {
    background: linear-gradient(
      to right,
      var(--gris__suave) 25%,
      var(--gris) 25%
    );
  }
}
.nav {
  width: 50%;
  height: 100vh;
  background-color: var(--amarillo);
  padding-right: 3rem;
  padding-top: 10rem;
  position: absolute;
  z-index: 100;
  opacity: 0%;
}
.link {
  display: block;
  color: black;
  margin-bottom: 2rem;
  text-align: right;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  cursor: pointer;
  color: white;
}
@media (min-width: 769px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 75%;
    border-radius: 20rem;
    top: 5rem;
    right: 5rem;
    padding: 0 4rem;
    opacity: 100%;
  }
  .botones,
  .home {
    display: flex;
  }
  .link {
    margin: 0 2rem;
  }
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
}
.btn__menu {
  position: fixed;
  right: 3rem;
  top: 4rem;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 200;
}

.activado {
  right: 0;
  transition: all 0.7s ease-out;
  opacity: 100%;
}

.imagen {
  background-image: url(./assets/pexels-photo-3211476.webp);
  background-position: center;
  background-size: cover;
  width: 50vw;
  height: 50vw;
  position: relative;
  left: calc(100vw - 75vw);
  top: 16rem;
}
@media (min-width: 769px) {
  .imagen {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    left: calc(100vw - 85vw);
    top: 12rem;
  }
}
.make {
  color: var(--amarillo);
}
.info__personal__contenedor {
  position: absolute;
  top: calc(100vh - 50vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width: 769px) {
  .info__personal__contenedor {
    background-color: var(--gris);
    left: 10vw;
    top: 65vh;
    padding: 2rem;
  }
}
.mi_nombre {
  font-size: 2.1em;
  color: var(--amarillo);
  font-weight: 800;
}
.front {
  font-weight: 900;
  font-size: 1.9rem;
}
.make__happen {
  margin-bottom: 1.6rem;
}

.botones2 {
  width: 100vw;
  position: absolute;
  top: calc(100vh - 20vh);
  display: flex;
  justify-content: space-around;
}
@media (min-width: 769px) {
  .botones2{
    width:50vw;
    left:45vw
  }  
}

.contact {
  background-color: var(--amarillo);
  color: white;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  width: 14rem;
  margin-right: 1rem;
  font-weight: 900;
}
.more__info {
  background-color: white;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  width: 14rem;
  margin-left: 1rem;
  font-weight: 900;
}
.do__for__you__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#doForU{
  color: var(--amarillo);
  font-weight: 900;
}
@media (min-width: 769px) {
  .do__for__you__container {
    position: absolute;
    font-size: 2.1rem;
    padding: 2rem;
    width: 50vw;
    bottom:30vh;
    left:35vw;
  }
  
}
